.vscode/
backup_files/
prepros.config
.DS_Store
themes/.DS_Store
themes/test4nails/.DS_Store
themes/test4nails/assets/.DS_Store
themes/test4nails/widgets/.DS_Store
themes/test4nails/woocommerce/.DS_Store
prepros.config
prepros.config
.vscode/ftp-kr.sync.cache.json
prepros.config
themes/test4nails/.DS_Store
